@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
*{
    margin: 0;
    padding: 0;
}
html,body {
    background-color: rgb(235, 235, 235);
    height: 100%;
    
}

header{
    background-color: #009879;
    height: 70px;
    text-align: center;
    padding: 16px 16px 0;
    
}


nav {
    background: #0082e6;
    height: 80px;
    width: 100%;
    
}
label.logo {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
 }
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 13px;
    text-transform: uppercase;
}
a.active,a:hover {
    background: #1b9bff;
    transition: .5s;
}
.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}

@media only screen and (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav .open li a {
        font-size: 16px;
    }
}
@media only screen and (max-width: 858px) {
    .checkbtn{
        display: block;
    }
   .open {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav .open li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav .open li a {
       font-size: 20px;
    }
    a:hover,a.active{
        
        color: #0082e6;
    }
    #check:checked ~ .open{
        left: 0;
    }
}

.index-banner{
    width: 100%;
    height: calc(100vh - 100%);
    background-image: url('img/banner-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

.index-banner h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 100;
    font-style: italic;
    line-height: 34px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}

.index-banner h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
    line-height: 70px;
}
.img {
    align-self: center;

}
.box h3{
    font-size: 25px;
    color: #fff;
    padding-top: 10px;
}
.box  {
    background-color: rgb(26, 23, 23);
    width: 100%;
    height: 50px;
    color: #fff;
    text-align: center;
    margin: 150px;
    margin-left: 0px;
    
}
.Tab {
    background-color: rgb(255, 255, 255);
}
.DATE {
    background-color: rgb(26, 23, 23);
    height: 50px;
    width: 120px;
    text-align: center;
    margin: 130px;
    margin-top: -120px;
    
}
.vertical-center {
    display: table-cell;
    vertical-align: middle;
      
}
.DATE h4{ 
    color: #fff;
    font-size: 17px;
    padding: 7px 11px;
}

.content-table {
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 15px;
    width: 100%;
    margin-top: -100px;
}

.content-table thead tr {
    background-color: #009879;
    color: white;
    text-align: center;
}
.content-table th,
.content-table td {
    padding: 10px 5px
}

.content-table tbody tr {
    border-bottom: 1px solid #ddd;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.Paragraph {
    background-color:  #008c89;
    height: 90px;
    width: 100%;
    text-align: center;
    margin: 90px;   
    margin-left: 0px;

}
.telegram {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px 19px;
    color: #fff;
}
.box-1 h3{
    font-size: 25px;
    color: #fff;
    padding-top: 10px;
}
.box-1  {
    background-color: rgb(26, 23, 23);
    width: 100%;
    height: 50px;
    color: #fff;
    text-align: center;
    margin: 150px;
    margin-left: 0px;
    
}

.Tab-1 {
    background-color: rgb(255, 255, 255);
}
.DATE-1 {
    background-color: rgb(26, 23, 23);
    height: 50px;
    width: 120px;
    text-align: center;
    margin: 130px;
    margin-top: -120px;
    
}
.DATE-1 h4{ 
    color: #fff;
    font-size: 17px;
    padding: 7px 11px;
}

.content-table-1 {
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 15px;
    width: 100%;
    margin-top: -100px;
}

.content-table-1 thead tr {
    background-color: #009879;
    color: white;
    text-align: center;
}
.content-table-1 th,
.content-table-1 td {
    padding: 10px 5px
}

.content-table-1 tbody tr {
    border-bottom: 1px solid #ddd;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

.content-table-1 tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.Tab-1 {
    background-color: rgb(255, 255, 255);
}

.index-links div {
    margin: 16px 16px 0;
    width: calc(100% - 32px);
    height: 100px;
    background-color: #f2f2f2;
    text-decoration: none;
    
}
.index-links div h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 100px;
    color:#111;
    text-align: center;
    text-transform: uppercase;
    
    
}
 .Back {
    background-color: #008c89;
    height: 500px;
    margin-top: 70px;
 }
 

 @media only screen and (min-width: 1000px) {

    .index-banner{
        width: 100%;
        height: 300px;
        background-image: url('img/banner-1.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: table;
    }
  
    .index-links div {
        margin: 10px 10px 0;
        width: calc(100% - 32px);
        height: 100px;
        background-color: #f2f2f2;
        text-decoration: none;
        
    }
 
    .content-table {
        border-collapse: collapse;
        margin-left: 400px;
        font-size: 15px;
        width: 600px;
        margin-top: -100px;
    }
    .content-table th,
    .content-table td {
    padding: 10px 5px
}

.content-table tbody tr {
    border-bottom: 1px solid #ddd;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.Paragraph {
    background-color: #008c89;
    height: 90px;
    width: 50%;
    text-align: center;
    margin: 90px;
  margin-left: 350px;

}
.telegram {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px 19px;
}
.box  {
    background-color: rgb(26, 23, 23);
    width: 610px;
    height: 50px;
    color: #fff;
    text-align: center;
    margin: 150px;
    margin-left: 390px;
    
}

.DATE {
    background-color: rgb(26, 23, 23);
    height: 50px;
    width: 120px;
    text-align: center;
    margin: 130px;
    margin-top: -120px;
    margin-left: 640px;
}
.Tab {
    background-color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    
}
.content-table-1 {
    border-collapse: collapse;
    margin-left: 400px;
    font-size: 15px;
    width: 600px;
    margin-top: -100px;
}

.DATE-1 {
    background-color: rgb(26, 23, 23);
    height: 50px;
    width: 120px;
    text-align: center;
    margin: 130px;
    margin-top: -120px;
    margin-left: 640px;
}
.box-1  {
    background-color: rgb(26, 23, 23);
    width: 610px;
    height: 50px;
    color: #fff;
    text-align: center;
    margin: 150px;
    margin-left: 390px;
    
}
}

footer {
    width: calc(100% - 80px);
    padding: 40px 40px;
    margin-top: 30px;
    background-color: #111;
}

footer ul {
    width: fit-content;
    padding-left: 20px;
}

footer ul li {
    display: block;
    list-style: none;
    text-decoration: none;
}
footer ul li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #fff;
    line-height: 30px;
}