body {
    background-color: lightslategray;
}
.container {
            margin-right: auto;
            margin-left: auto;
            width: 1100px;
}
.img {
       align-self: center;

}
header{
    background-color: #1e029b;
    height: 70px;
    text-align: center;
    padding-top: 30px;
    
}

nav {
    background-color: rgb(255, 4, 4);
    height: 40px;
    
}

main {
    background-color: rgb(255, 255, 255);
    height: 1000px;
    padding-top: 20px;
    
    padding-left: 70px;

}
footer {
    background-color: #ff0000;
    height: 200px
}
h1 {
    font-size: 40px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: -10px;
    
}
 p {
    font-size: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 13px;
    
    
 }
 p1 {
    font-size: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
 }
.box1 {
    background-color: black;
    height: 40px;
    width: 500px;
    margin-top: 70px;
    text-align: center;
    

}
 
.highlight-text {
    padding-top: -100px; 
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 8px 15px;
    
}
 .content-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 25px;
        min-width: 550px;
 }

 .content-table thead tr {
        background-color:#009879;
        color: white;
        text-align: left;

 }
 .content-table th,
 .content-table td {
      padding: 12px 15px;
 }

 .content-table tbody tr {
      border-bottom: 1px solid #dddddd;
 }
 .content-table tbody tr:nth-of-type(even) {
          background-color:#f3f3f3;    
 }

 